*{
    box-sizing: border-box;
}

.upper-nav{
    display: flex;
    justify-content: space-between;
}

.button-nav-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: #2c3e50;
    color: #fff;
}

.menu-nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

.cover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1abc9c;
    align-items: center;

}

.cover-image{
    width: 300px;
    height: auto;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-header{
    font-size: 36px;
    color: #2c3e50;
}
.portfolio-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 30px;
    
}

.card-image{
    width: 400px;
    border-radius: 10px;
}

.about-container{
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

h1{
    font-size: 48px;
    color: #fff;
}

.paragraphs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.about-paragraph{
    color: #fff;
    text-align: center;
    
}

.submit-button{
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 66px;
    background-color: transparent;
    border: 2px solid #FFF;
    font-size: 20px;
}