*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.over-view{
    font-size: 12px;
    color: #21283280;
}

.upper-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


.button-download{
    border: #fff;
    background-color: #f0e3e7;
    color: #dc392d;
    width: 130px;
    height: 30px;
}

.button-nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: #2c3e50;
    color: #fff;
}

.menu-nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 30px;
}
/*Cover*/

.cover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1abc9c;
    align-items: center;
    background-size: cover;
    padding: 150px;
}

.cover-image{
    width: 500px;
    height: auto;
}

.cover-header{
    color: #fff;
    font-size: 80px;
}

.cover-paragraph{
    color: #FFF;
    font-size: 30px;
}
/* Portfolio Container */

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.portfolio-header{
    font-size: 36px;
    color: #2c3e50;
}
.portfolio-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 30px;
    
}

.card-image{
    width: 400px;
    border-radius: 10px;
}
/* About*/

.about-container{
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.about-header{
    font-size: 48px;
    color: #fff;
    font-family: sans-serif;
}

.paragraphs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.about-paragraph{
    color: #fff;
    text-align: center;
    display: block;
    margin-left: 20em;
    margin-right: 20em;
    font-size: 20px;
    
}

.submit-button{
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 66px;
    background-color: transparent;
    border: 2px solid #FFF;
    font-size: 20px;
}
/*Contact Me*/

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 20px;
}

input{
    width: 700px;
    height: 70px;
    border: #FFF;
    font-size: 24px;
}

.input-container{
    border-bottom: 1px solid #2c3e50;
    padding-top: 10px;
}

textarea{
    border: #FFF;
    font-size: 24px;
}

.send-button{
    background-color: #1abc9c;
    color: #FFF;
    border: #fff;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    
}

/*Footer*/

footer{
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    
}

.footer-text{
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    text-align-last:center;
}

.footer-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    padding: 100px;
    font-size: 24px;
}

.accounts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.bottom-footer{
    background-color: #1a252f;
    font-size: 16px;
    padding: 20px;
}